.previewBtn {
    position: relative;
    width: 100%;
    max-width: 100%;
}
.previewBtn .view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}
.previewBtn .view:hover {
    background-color: gray;
    border-radius: 20px;
    top: 20%;
    left: 70%;
    margin-left: 20px;
    font-size: 2em;
    opacity: 1;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.admissiondetailsicon {
    cursor: pointer;
    margin-left: 85% !important;
}
.uploadreceiptstyle {
    color: red;
}
.heading {
    margin-left: 10%;
    width: 100%;
}
.titile {
    display: block;
    width: auto;
    color: #000;
    font-weight: 500;
}
.toastcontainerstyle {
    z-index: 1999 !important;
}
.addPayment_style_A {
    z-index: 1999;
}
.rowStatusStyle{
    text-decoration: line-through; 
}
.addPayment_style_B {
    border-radius: 20px;
    padding: 20px;
    opacity: 1
}
.addPayment_style_C {
    color: rgb(114, 107, 107, 1);
}
.addPayment_style_D {
    cursor: pointer;
    margin-left: 85%;
}
.addPayment_style_E {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: auto;
}
.addPayment_style_F {
    color: #737373;
    font-size: 14px;
    display: block;
    width: auto;
}
.touchedacedemicyear {
    color: #f86c6b;
    margin-top: 0.25rem;
    font-size: 80% !important;
}
.addPayment_style_G {
    border-radius: 20px;
    padding: 20px;
    opacity: 1;
    margin-bottom: 0px;
    margin-top: -21px !important;
}
.addPayment_style_H {
    color: rgb(114, 107, 107, 1);
}
.addPayment_style_I {
    background-color: #1678c2;
    color: white;
    margin-left: 5px;
}
.addPayment_style_J {
    padding-left: 15px
}
.editHostel_style_A {
    border-radius: 20px;
    padding: 20px;
    opacity: 1
}
.editHostel_style_B {
    color: rgb(114, 107, 107, 1);
}
.editHostel_style_C {
    cursor: pointer;
    margin-left: 85%;
}
.editHostel_style_E {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: auto;
}
.editHostel_style_F {
    color: rgb(114, 107, 107, 1);
}
.editHostel_style_G {
    border-radius: 20px;
    padding: 20px;
    opacity: 1;
    margin-top: -52px;
    margin-bottom: 0px;
}
.editHostel_style_H {
    color: rgb(114, 107, 107, 1);
}
.editHostel_style_I {
    color: #737373;
    font-size: 14px;
    display: block;
    width: auto;
}
.editHostel_style_J {
    border-radius: 20px;
    padding: 20px;
    opacity: 1;
    margin-bottom: 0px;
}
.editHostel_style_K {
    color: rgb(114, 107, 107, 1);
}
.editHostel_style_L {
    margin-top: 15px;
    margin-left: 20px;
}
.editHostel_style_L2 {
    margin-top: 15px;
    margin-left: -20px;
}
.editHostel_style_L3 {
    margin-top: 15px;
    margin-left: -30px;
}
.editHostel_style_M {
    color: #737373;
}
.editHostel_style_N {
    color: #737373;
    font-size: 14px;
    display: block;
    width: auto;
}
.editHostel_style_O {
    margin-top: 15px;
    margin-left: 20px;
}
.editHostel_style_P {
    background-color: #1678c2;
    color: white;
    margin-left: 5px;
}
.list_style_A {
    cursor: pointer;
    color: blue;
}
.list_style_B {
    cursor: pointer;
    color: green !important;
    background-color: rgb(251, 248, 248) !important;
}
.list_style_C {
    cursor: pointer;
    color: red !important;
}
.Request_Hostel_Button_style_ {
    float: right;
    border: none;
    height: 32px;
    color: white !important;
    background-color: rgb(26, 154, 148) !important;
}
.list_style_D {
    float: right;
    border: none;
    height: 32px;
}
.hostelList_refundButton_style {
    float: right;
    border: none;
    height: 32px;
    background-color: rgb(79, 176, 79) !important;
    color: white !important;
}
.list_style_E {
    margin: auto;
    font-size: 22px;
    padding-top: 5px;
}
.list_style_F {
    font-size: 15px;
    color: #737373;
}
.list_style_G {
    font-size: 15px;
    padding-left: 20px;
    color: #737373;
}
.list_style_H {
    margin-left: -11px;
    font-size: 18px;
    color: green;
}
.list_style_I {
    cursor: pointer;
    color: green;
    padding-left: 1%;
}
.list_style_J {
    color: #737373;
    font-size: 14px;
}
.list_style_K {
    margin-left: 60%;
}
.list_style_L {
    border: 1px solid black;
}
.list_style_M {
    background: transparent;
    padding: 0;
    padding-bottom: -10px;
    opacity: 1px;
    border: none;
    outline: 0px;
}
.viewHostel_style_A {
    border-radius: 20px;
    padding: 20px;
    opacity: 1
}
.viewHostel_style_B {
    color: rgb(114, 107, 107, 1);
}
.viewHostel_style_C {
    cursor: pointer;
    margin-left: 85%;
}
.viewHostel_style_D {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: auto;
}
.viewHostel_style_E {
    color: #737373;
    font-size: 14px;
    display: block;
    width: auto;
}
.viewHostel_style_F {
    border-radius: 20px;
    padding: 20px;
    opacity: 1;
    margin-top: -20px;
    margin-bottom: 0px;
}
.viewHostel_style_G {
    color: rgb(114, 107, 107, 1);
}
.viewHostel_style_H {
    color: #737373;
    font-size: 14px;
    display: block;
    width: auto;
}
.viewHostel_style_I {
    cursor: pointer;
    margin-right: 8px;
}
.viewHostel_style_J {
    cursor: pointer;
}
.viewHostel_style_K {
    color: #737373;
    margin-left: 10%;
}
.viewPayment_style_A {
    border-radius: 20px;
    padding: 20px;
    opacity: 1
}
.viewPayment_style_B {
    color: rgb(114, 107, 107, 1);
}
.viewPayment_style_C {
    cursor: pointer;
    margin-left: 85%;
}
.viewPayment_style_D {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: auto;
}
.viewPayment_style_E {
    color: #737373;
    font-size: 14px;
    display: block;
    width: auto;
}
.viewPayment_style_F {
    border-radius: 20px;
    padding: 20px;
    opacity: 1;
    margin-top: -20px;
    margin-bottom: 0px;
}
.viewPayment_style_G {
    color: rgb(114, 107, 107, 1);
}
.viewPayment_style_H {
    color: #737373;
    font-size: 14px;
    display: block;
    width: auto;
}
.viewPayment_style_J {
    cursor: pointer;
}
.viewPayment_style_K {
    color: #737373;
}
.add_Payment {
    color: white;
    font-size: 15px;
}
.image_view_icon {
    cursor: pointer;  
}
.image_download_icon {
    margin-left: 5px !important;
    cursor: pointer;
}
.view_modal_C {
    width: 150px !important;
    height: 140px !important;
}
.receiptsName_style {
    color: rgb(114, 107, 107, 1);
    margin-left: 33px;
}
.center_button_style {
    margin-top: 0px !important;
}
.status_badgeColor_style {
    font-size: 12px !important;
    color: #ffffff !important;
}
.hostel_bill_LR {
    margin-left: 11.3%;
}
.hostel_bill_Total_kl {
    margin-left: 2% !important;
}
.hostel_bill_L {
    margin-left: 53.6% !important;
}
.paginationBonofideStatus_style {
    float: right;
}
.banckDetails_style {
    margin-left: 0px;
    margin-right: 0px;
}
.bankDetails_style {
    color: red;
}
.hostelStatus_image {
    width: 765px;
    height: 600px;
}
.hostel_Close_Icon {
    cursor: pointer !important;
    margin-left: 95% !important;
    margin-top: 10px !important;
}
.hostel_card_style {
    border-radius: 20px !important;
    padding: 20px !important;
    opacity: 1 !important;
    width: 100% !important;
}
.btn-hostel-A {
    float: left;
}
.btn-hostel-B {
    float: right;
}
.managerconfirmrdstyle {
    color: green;
}
@media only screen and (max-width: 767px) {
    .Request_Hostel_Button_style_ {
        border: none;
        height: 32px;
        width: 99% !important;
        color: white !important;
        background-color: rgb(26, 154, 148) !important;
        margin-top: 4px !important;
    }
    .list_style_D {
        float: left;
        border: none;
        height: 32px;
        width: 50% !important;
    }
    .hostelStatus_image {
        width: 100%;
        height: 100%;
    }
    .billing_image {
        width: 100%;
        height: 100%;
    }
    .hostelList_refundButton_style {
        float: right;
        border: none;
        height: 32px;
        background-color: rgb(79, 176, 79) !important;
        color: white !important;
        width: 47% !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 819px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .view_modal_C {
        width: 150px !important;
        height: 140px !important;
        margin-left: -3em !important;
    }
    .viewPayment_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .addPayment_style_D {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .editHostel_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .viewHostel_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .edit_bill_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .Request_Hostel_Button_style_ {
        border: none;
        height: 32px;
        width: 47% !important;
        color: white !important;
        background-color: rgb(26, 154, 148) !important;
        margin-top: -31px !important;
        margin-right: 23.7em !important;
    }
    .list_style_D {
        float: left;
        border: none;
        height: 32px;
        width: 50% !important;
    }
    .hostelStatus_image {
        width: 100%;
        height: 100%;
    }
    .billing_image {
        width: 100%;
        height: 100%;
    }
    .hostelList_refundButton_style {
        float: right;
        border: none;
        height: 32px;
        background-color: rgb(79, 176, 79) !important;
        color: white !important;
        width: 47% !important;
    }
}
@media only screen and (min-device-width: 820px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .view_modal_C {
        width: 150px !important;
        height: 140px !important;
        margin-left: -3em !important;
    }
    .viewPayment_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .addPayment_style_D {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .editHostel_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .viewHostel_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .edit_bill_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .Request_Hostel_Button_style_ {
        border: none;
        height: 32px;
        width: 47% !important;
        color: white !important;
        background-color: rgb(26, 154, 148) !important;
        margin-top: -31px !important;
        margin-right: 26.2em !important;
    }
    .list_style_D {
        float: left;
        border: none;
        height: 32px;
        width: 50% !important;
    }
    .hostelStatus_image {
        width: 100%;
        height: 100%;
    }
    .billing_image {
        width: 100%;
        height: 100%;
    }
    .hostelList_refundButton_style {
        float: right;
        border: none;
        height: 32px;
        background-color: rgb(79, 176, 79) !important;
        color: white !important;
        width: 47% !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .viewPayment_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .addPayment_style_D {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .editHostel_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .viewHostel_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .edit_bill_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .Request_Hostel_Button_style_ {
        border: none;
        height: 32px;
        width: 47% !important;
        color: white !important;
        background-color: rgb(26, 154, 148) !important;
        margin-top: -31px !important;
        margin-right: 26.2em !important;
    }
    .list_style_D {
        float: left;
        border: none;
        height: 32px;
        width: 50% !important;
    }
    .hostelStatus_image {
        width: 100%;
        height: 100%;
    }
    .billing_image {
        width: 100%;
        height: 100%;
    }
    .hostelList_refundButton_style {
        float: right;
        border: none;
        height: 32px;
        background-color: rgb(79, 176, 79) !important;
        color: white !important;
        width: 47% !important;
    }
}
@media only screen and (min-device-width: 1120px) and (max-device-width: 1219px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .viewPayment_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .addPayment_style_D {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .editHostel_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .viewHostel_style_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .edit_bill_C {
        cursor: pointer;
        margin-left: 95% !important;
    }
    .Request_Hostel_Button_style_ {
        border: none;
        height: 32px;
        width: 47% !important;
        color: white !important;
        background-color: rgb(26, 154, 148) !important;
        margin-top: -31px !important;
        margin-right: 31.7em !important;
    }
    .list_style_D {
        float: left;
        border: none;
        height: 32px;
        width: 50% !important;
    }
    .hostelStatus_image {
        width: 100%;
        height: 100%;
    }
    .billing_image {
        width: 100%;
        height: 100%;
    }
    .hostelList_refundButton_style {
        float: right;
        border: none;
        height: 32px;
        background-color: rgb(79, 176, 79) !important;
        color: white !important;
        width: 47% !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .tabcolumnstyle {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}